:root {
    --white-green-color: rgba(252, 253, 248, 1);
    --lila-color: rgba(236, 206, 244, 1);
    --font-color: rgb(97, 97, 97);
    --button-color: rgba(78, 64, 174, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 1rem 0;
    line-height: 1.5;
    color: var(--font-color);
}

h1 {
    position: relative;
    font-size: 4rem;
    line-height: 1;
    z-index: 10;
}



/*  Header styles */


.hero{
    background-color: var(--white-green-color);
    min-height: 100vh;
}

header {
    position: relative;
}

.cube {
    width: 400px;
    height: 400px;
    background-color: var(--lila-color);
    border-radius: 50%;
    filter: blur(3rem);
    position: absolute;
    left: -10rem;
    top: -10rem;
    z-index: 1;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;
}

.logo {
    z-index: 10;
}

nav a:not(:last-child) {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
}

nav a:hover {
    color: var(--lila-color);
}

.startedBtn {
    background-color: var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.8rem;
    transition: all 0.4s;
    cursor: pointer;
}

.startedBtn:hover {
    background-color: var(--lila-color);
    color: black;
}

.startedBtn:active {
    background-color: var(--button-color);
    color: white;
}

.menu-icon {
    border: none;
    display: none;
}

.hero-message {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.hero-message div {
    width: 50%;
}

.hero-message div img {
    width: 100%;
}


.hero-message p {
    margin: 1rem 0 2rem 0;
}



/*      Main styles   */



main {
    background-color: white;
}

main h2 {
    font-size: 2rem;
    line-height: 1;
}

main a {
    color: var(--button-color);
    font-weight: bold;
    text-decoration: none;
}

.icons-container, .phone-mockup {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
}

.phone-mockup {
    padding-bottom: 4rem;
}

.icons-container div, .phone-mockup div {
    width: 50%;
}

.icons-container div img, .phone-mockup div img {
    width: 80%;
}

.icons {
    text-align: center;
}



/* Footer  styles */


footer {
    background-color: var(--white-green-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.indiebrew-footer {
    width: 50%;
    padding-right: 1rem;
}

.footer-menus {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-menus div a {
    display: block;
    margin-top: 0.8rem;
    text-decoration: none;
    color: var(--font-color);
}

.show {
    display: block;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
    .hero-message {
        margin-top: 10rem;
    }
}
@media screen and (max-width: 1000px) {

    /* Home Page */

    .cube {
        left: -15rem;
    }
    .nav-container, .hero-message, .icons-container, .phone-mockup, .footer-container{
        width: 95%;
    } 
    .hero-message {
        flex-direction: column;
        margin-top: 4rem;
    }
    .hero-message div {
        width: 100%;
    }
    .hero-message div:last-child {
        text-align: center;
        order: 1;
    }
    .hero-message div:first-child {
        padding: 5rem 0;
        order: 2;
    }
    .hero-message div:last-child img {
        width: 60%;
    }
    h1{
        font-size: 3rem;
    }
    .footer-menus{
        flex-wrap: wrap;
    }
    .footer-menu {
        width: 100%;
        margin-bottom: 2rem;
    }
    .footer-menu div{
        min-width: 150px;
    }

}

@media screen and (max-width: 700px) {
    .cube {
        left: -20rem;
    }
    nav div {
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.293);
        position: absolute;
        border-radius: 5px;
        top: 5rem;
        right: 1rem;
        padding: 1rem;
        display: none;
        z-index: 10;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    nav a{
        display: block;
        margin: 2rem;
    }
    .icons-container, .phone-mockup {
        flex-direction: column;
        padding-top: 2rem;
    }
    .icons-container div, .phone-mockup div {
        padding-top: 2rem;
        width: 100%;
    }
    .icons-container div:first-child, .phone-mockup div:first-child {
        width: 100%;
        order: 2;
    }
    .icons-container div:last-child img, .phone-mockup div:last-child img{
        width: 100%;
        order: 1;
    }
    .hero-message div:last-child img {
        width: 100%;
    }
    .phone-mockup div:first-child {
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
    }
    .indiebrew-footer, .footer-menus {
        width: 100%;
        justify-content: center;
    }
    .footer-menu{
        justify-content: space-between;
    }
}

